
body{
    background: url('https://the.ismaili/sites/default/files/formacao_1600x1200-uma-alimentacao-saudavel-previne-a-hipertensao-arterial.jpg') no-repeat center center fixed;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
    }